icalendar
mysqlclient
psycopg2
uwsgi
python-dotenv
undecorated
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
prometheus-client
swagger-ui-bundle
connexion
flask-marshmallow==0.10.1
flask_moment
flask_apscheduler
marshmallow-sqlalchemy==0.17.0
marshmallow==2.19.5
html5lib
lxml
pandas
bs4
flask
flask_sqlalchemy
flask_bootstrap
flask_uploads
flask_wtf
flask_migrate
sentry-sdk[flask]==0.12.3
