icalendar==4.0.3
uwsgi==2.0.18
undecorated==0.3.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
prometheus-client==0.7.1
swagger-ui-bundle
connexion==2.3.0
flask-marshmallow==0.10.1
flask_moment==0.8.0
flask_apscheduler==1.11.0
marshmallow-sqlalchemy==0.17.0
marshmallow==2.19.5
html5lib==1.0.1
lxml>=4.3.4
pandas==0.24.2
bs4==0.0.1
python-dotenv
flask==2.3.2
flask_sqlalchemy==2.4.0
flask_bootstrap==3.3.7.1
flask_uploads==0.2.1
flask_wtf==0.14.2
flask_migrate==2.5.2
werkzeug==0.16.1
